<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="copyright">
                    <div class="span9">
                        <div class="footer-text" if="footer-text">
                            <a title="Babydiary - мы поможем Вам сохранить чудные моменты" href="/">BABYDIARY</a>&copy; 2015
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
