@{
    ViewBag.Title = "Учетная запись заблокирована";
}

<div class="info-result">
    Учетная запись заблокирована
</div>

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Вход", "SignIn", "Account")</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}