
@{
    ViewBag.Title = "Учетная запись не активирована";
}

<div class="info-result">
       Проверьте, пожалуйста, почту. На указанный при регистрации email было отправлено письмо с информацией по активации учетной записи.
</div>


@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Вход", "SignIn", "Account")</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}