
@{
    ViewBag.Title = "Ошибка";
}

<div id="content" class="col-lg-12 col-md-12 col-sm-12">
    <div class="block">
        <h1>@ViewBag.Title</h1>
        <div class="activate-result">
            Во время выполнения запроса произошла ошибка.
        </div>
    </div>
</div>

