
@{
    ViewBag.Title = "Активация учетной записи";
}


<div class="info-result">
    Учетная запись была успешно активирована. Используйте свой логин и пароль для входа на сайт.
    @Html.ActionLink("Войти", "SignIn", "Account")
</div>
