
@{
    ViewBag.Title = "Восстановление пароля";
}

<div class="info-result">
    На указанный Вами email было отправлено письмо с информацией по восстановлению пароля.
</div>

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Вход", "SignIn", "Account")</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}