@{
    ViewBag.Title = "Смена пароля";
}

<div class="info-result">
    Новый пароль был успешно установлен. Используйте свой логин и пароль для входа на сайт.
</div>

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}